<settings>
  <offline>false</offline>
  <localRepository>D:/maven_local</localRepository>
  <activeProfiles>
    <activeProfile>local</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>snapshots</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server>
    <server>
      <id>releases</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server>
    <server>
      <id>site</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>nj</id>
      <properties>
        <profile.repository>http://repo.nj.yihuacomputer.com:8081/nexus/content/repositories/releases</profile.repository>
        <profile.snapshotRepository>http://10.2.8.232:8081/nexus/content/repositories/snapshots</profile.snapshotRepository>
      </properties>
      <repositories>
	  <repository>
	    <id>nexus</id>
		<releases>
	       <enabled>true</enabled>
        </releases>
	    <snapshots>
	      <enabled>false</enabled>
	    </snapshots>
	    <name>Nexus Repository</name>
	    <url>http://repo.nj.yihuacomputer.com:8081/nexus/content/groups/public</url>
	  </repository>
	  <repository>
	    <id>nexus2</id>
	    <releases>
	       <enabled>false</enabled>
        </releases>
	    <snapshots>
	      <enabled>true</enabled>
	    </snapshots>
	    <name>Nexus Repository</name>
	    <url>http://10.2.8.232:8081/nexus/content/groups/public</url>
	  </repository>
      </repositories>
	  <pluginRepositories>
	   <pluginRepository>
	    <releases>
	      <updatePolicy>never</updatePolicy>
	    </releases>
	    <snapshots>
	      <enabled>false</enabled>
	    </snapshots>
	    <id>nexus3</id>
	    <name>Nexus Repository</name>
	    <url>http://repo.nj.yihuacomputer.com:8081/nexus/content/groups/public</url>
	   </pluginRepository>
	  </pluginRepositories>
    </profile>
    <profile>
      <id>jsnx</id>
      <properties>
        <profile.repository>http://66.3.17.123:8081/nexus/content/repositories/releases</profile.repository>
        <profile.snapshotRepository>http://66.3.17.123:8081/nexus/content/repositories/snapshots</profile.snapshotRepository>
      </properties>
      <repositories>
	  <repository>
	    <id>nexus</id>
		<releases>
	       <enabled>true</enabled>
        </releases>
	    <snapshots>
	      <enabled>true</enabled>
	    </snapshots>
	    <name>Nexus Repository</name>
	    <url>http://66.3.17.123:8081/nexus/content/groups/public</url>
	  </repository>
      </repositories>
	  <pluginRepositories>
	   <pluginRepository>
	    <releases>
	      <updatePolicy>never</updatePolicy>
	    </releases>
	    <snapshots>
	      <enabled>false</enabled>
	    </snapshots>
	    <id>nexus3</id>
	    <name>Nexus Plugin Repository</name>
	    <url>http://66.3.17.123:8081/nexus/content/groups/public</url>
	   </pluginRepository>
	  </pluginRepositories>
    </profile>
    <profile>
      <id>local</id>
      <properties>
        <profile.repository>http://localhost:8081/nexus/content/repositories/releases</profile.repository>
        <profile.snapshotRepository>http://localhost:8081/nexus/content/repositories/snapshots</profile.snapshotRepository>
      </properties>
      <repositories>
	  <repository>
	    <id>nexus</id>
		<releases>
	       <enabled>true</enabled>
            </releases>
	    <snapshots>
	      <enabled>true</enabled>
	    </snapshots>
	    <name>Nexus Repository</name>
	    <url>http://localhost:8081/nexus/content/groups/public</url>
	  </repository>
      </repositories>
	  <pluginRepositories>
	   <pluginRepository>
	    <releases>
	      <updatePolicy>never</updatePolicy>
	    </releases>
	    <snapshots>
	      <enabled>false</enabled>
	    </snapshots>
	    <id>nexus3</id>
	    <name>Nexus Repository</name>
	    <url>http://localhost:8081/nexus/content/groups/public</url>
	   </pluginRepository>
	  </pluginRepositories>
    </profile>
    <profile>
      <id>iboss</id>
      <properties>
        <profile.repository>http://172.18.21.235:8081/nexus/content/repositories/releases</profile.repository>
        <profile.snapshotRepository>http://172.18.21.235:8081/nexus/content/repositories/snapshots</profile.snapshotRepository>
      </properties>
      <repositories>
	  <repository>
	    <id>nexus</id>
		<releases>
	       <enabled>true</enabled>
        </releases>
	    <snapshots>
	      <enabled>true</enabled>
	    </snapshots>
	    <name>Nexus Repository</name>
	    <url>http://172.18.21.235:9084/nexus/content/groups/public</url>
	  </repository>
      </repositories>
	  <pluginRepositories>
	   <pluginRepository>
	    <releases>
	      <updatePolicy>never</updatePolicy>
	    </releases>
	    <snapshots>
	      <enabled>false</enabled>
	    </snapshots>
	    <id>nexus3</id>
	    <name>Nexus Repository</name>
	    <url>http://172.18.21.235:8081/nexus/content/groups/public</url>
	   </pluginRepository>
	  </pluginRepositories>
    </profile>
  </profiles>
</settings>
