#loading {
	position: absolute;
	width: 180px;
	margin: -70px 0 0 -90px;
	height: 140px;
	top: 50%;
	left: 50%;
}

.x-mask {
	background-image: none;
	background-color: rgba(255, 255, 255, 0.93);
	cursor: default;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

.x-window-header-title-default {
	color: #1c396f;
	font-weight: 600;
	font-family: cursive;
	/*     font-family: helvetica,arial,verdana,sans-serif; */
	line-height: 16px;
}

.x-tab-default-top {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	padding: 3px 8px 3px 8px;
	border-width: 1px;
	border-style: solid;
	background-color: lightsteelblue;
}

.x-btn-over.x-btn-default-toolbar-small {
	background-color: #3892d3;
}

.x-btn-focus.x-btn-default-toolbar-small {
	background-color: #3892d3;
}

.x-btn-focus.x-btn-pressed.x-btn-default-toolbar-small {
	background-color: #3892d3;
}

.x-btn.x-btn-menu-active.x-btn-default-toolbar-small, .x-btn.x-btn-pressed.x-btn-default-toolbar-small
	{
	background-color: #3892d3;
}

.x-btn-default-toolbar-small {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 3px 3px 3px;
	border-width: 1px;
	font-family: cursive;
	border-style: solid;
	background-color: #1c396f;
}

.x-btn-inner-default-toolbar-small {
	font: 300 12px/16px helvetica, arial, verdana, sans-serif;
	color: #FFF;
	padding: 0 5px;
	max-width: 100%;
}
/* .x-btn-inner.x-btn-inner-default-toolbar-small{ */
/*     font: 300 12px/16px helvetica,arial,verdana,sans-serif; */
/*     color: #000; */
/*     padding: 0 5px; */
/*     max-width: 100%; */
/* } */
.x-btn-icon-el-default-toolbar-small.x-btn-glyph {
	font-size: 16px;
	line-height: 16px;
	color: white;
}

.x-panel-header-title-default {
	color: #1c396f;
	font-size: 15px;
	font-weight: 900;
	font-family: cursive;
	line-height: 16px;
}
/* 不可选的按钮颜色调整 */
.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
	background-image: none;
	background-color: gray;
}

/**ie9下的button显示问题**/
.x-btn-default-small-tl, .x-btn-default-small-bl,
	.x-btn-default-small-tr, .x-btn-default-small-br,
	.x-btn-default-small-tc, .x-btn-default-small-bc,
	.x-btn-default-small-ml, .x-btn-default-small-mr,
	.x-btn-default-small-mc {
	background-image: none;
	background-color: #1c396f;
}

.x-btn-over .x-btn-default-small-tl, .x-btn-over .x-btn-default-small-bl,
	.x-btn-over .x-btn-default-small-tr, .x-btn-over .x-btn-default-small-br,
	.x-btn-over .x-btn-default-small-tc, .x-btn-over .x-btn-default-small-bc,
	.x-btn-over .x-btn-default-small-ml, .x-btn-over .x-btn-default-small-mr,
	.x-btn-over .x-btn-default-small-mc {
	background-image: none;
	background-color: #3892d3;
}

/**ie9下toolbar下的button显示问题---start**/
.x-btn-default-toolbar-small-tl, .x-btn-default-toolbar-small-bl,
	.x-btn-default-toolbar-small-tr, .x-btn-default-toolbar-small-br,
	.x-btn-default-toolbar-small-tc, .x-btn-default-toolbar-small-bc,
	.x-btn-default-toolbar-small-ml, .x-btn-default-toolbar-small-mr,
	.x-btn-default-toolbar-small-mc {
	background-image: none;
	background-color: #1c396f;
}

.x-btn-over .x-btn-default-toolbar-small-tl, .x-btn-over .x-btn-default-toolbar-small-bl,
	.x-btn-over .x-btn-default-toolbar-small-tr, .x-btn-over .x-btn-default-toolbar-small-br,
	.x-btn-over .x-btn-default-toolbar-small-tc, .x-btn-over .x-btn-default-toolbar-small-bc,
	.x-btn-over .x-btn-default-toolbar-small-ml, .x-btn-over .x-btn-default-toolbar-small-mr,
	.x-btn-over .x-btn-default-toolbar-small-mc {
	background-image: none;
	background-color: #3892d3;
}

.x-btn-pressed .x-btn-default-toolbar-small-tl, .x-btn-pressed .x-btn-default-toolbar-small-bl,
	.x-btn-pressed .x-btn-default-toolbar-small-tr, .x-btn-pressed .x-btn-default-toolbar-small-br,
	.x-btn-pressed .x-btn-default-toolbar-small-tc, .x-btn-pressed .x-btn-default-toolbar-small-bc,
	.x-btn-pressed .x-btn-default-toolbar-small-ml, .x-btn-pressed .x-btn-default-toolbar-small-mr,
	.x-btn-pressed .x-btn-default-toolbar-small-mc {
	background-image: none;
	background-color: #3892d3;
}

.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-tl, .x-btn-focus.x-btn-over .x-btn-default-toolbar-small-bl,
	.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-tr, .x-btn-focus.x-btn-over .x-btn-default-toolbar-small-br,
	.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-tc, .x-btn-focus.x-btn-over .x-btn-default-toolbar-small-bc,
	.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-ml, .x-btn-focus.x-btn-over .x-btn-default-toolbar-small-mr,
	.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-mc {
	background-image: none;
	background-color: #3892d3;
}

.x-btn-focus .x-btn-default-toolbar-small-tl, .x-btn-focus .x-btn-default-toolbar-small-bl,
	.x-btn-focus .x-btn-default-toolbar-small-tr, .x-btn-focus .x-btn-default-toolbar-small-br,
	.x-btn-focus .x-btn-default-toolbar-small-tc, .x-btn-focus .x-btn-default-toolbar-small-bc,
	.x-btn-focus .x-btn-default-toolbar-small-ml, .x-btn-focus .x-btn-default-toolbar-small-mr,
	.x-btn-focus .x-btn-default-toolbar-small-mc {
	background-image: none;
	background-color: #3892d3;
}
/**ie9下toolbar下的button显示问题---end**/
#loading .title {
	font-size: 16px;
	position: absolute;
	display: block;
	top: 0;
	left: 0px;
	width: 180px;
	height: 27px;
}

#loading .logo {
	background: url(../images/loading.gif) no-repeat;
	position: absolute;
	display: block;
	top: 25px;
	left: 22px;
	width: 120px;
	height: 120px;
}

.fish-logo {
	font-size: 20px;
	font-weight: normal;
	font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
}
/**grid隐藏动作列*/
.actioncolumn-hidden {
	visibility: hidden;
}

/**菜单按钮图标**/
.refreshBtn {
	background: url(../images/refresh.png) left center no-repeat !important;
}

.sureBtn {
	background: url(../images/accept.png) left center no-repeat !important;
}

.returnBtn {
	background: url(../images/return.png) left center no-repeat !important;
}

.closeBtn {
	background: url(../images/close.png) left center no-repeat !important;
}

.headerItemConfig {
	background: url(../images/user_dark.gif) !important;
}

.exportBtn {
	background: url(../images/down.gif) left center no-repeat !important;
}

.cardReceiveBtn {
	background: url(../images/shape_move_backwards.png) left center
		no-repeat !important;
}

.cardHandoverBtn {
	background: url(../images/shape_move_forwards.png) left center no-repeat
		!important;
}

.cardDetoryBtn {
	background: url(../images/report_delete.png) left center no-repeat
		!important;
}

.importBtn {
	background: url(../images/table_add.png) left center no-repeat
		!important;
}

.more {
	background: url(../images/application_cascade.png) left center no-repeat
		!important;
}

.join {
	background: url(../images/group_add.png) left center no-repeat
		!important;
}

.clear {
	background: url(../images/wand.png) left center no-repeat !important;
}

.send {
	background: url(../images/comment_add.png) left center no-repeat
		!important;
}

.leave {
	background: url(../images/group_delete.png) left center no-repeat
		!important;
}

.db-save {
	background: url(../images/database_save.png) left center no-repeat
		!important;
}

.exportToExcel {
	background: url(../images/excel.png) left center no-repeat !important;
}

.pointerLink {
	text-decoration: underline;
	cursor: pointer;
}

.grid-x-column-header-checkbox {
	display: none;
}

.loginImg {
	position: absolute;
	width: 600px;
	height: 300px;
	z-index: -9999;
	bottom: 300px;
	right: 500px;
}

#loginPanel {
	position: absolute;
	right: 470px;
	bottom: 340px;
	z-index: 100;
}

.hiddenComp {
	visibility: hidden;
}

.changeCursor {
	cursor: pointer;
}

/* Notification.js */
.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 15px 15px 15px;
	height: 20px;
}

.ux-notification-icon-information {
	background-image: url('../images/icon16_info.png');
}

.ux-notification-icon-error {
	background-image: url('../images/icon16_error.png');
}

.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-image: url('../images/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 15px 15px 15px;
	width: 200px;
	background-color: transparent;
	border: 0px solid white;
}

/*extjs disalbed*/
.x-item-disabled .x-form-item-label {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6;
}

.x-item-disabled .x-form-field {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6;
}

.x-item-disabled .x-form-cb-label {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6;
}

.x-item-disabled .x-form-trigger {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6;
}

.x-item-disabled .x-grid-cell {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6;
}

.warningHighLight {
	color: orange;
}

.fatalHighLight {
	color: red;
}

#images-view .x-panel-body {
	background: white;
	font: 12px Arial, Helvetica, sans-serif;
}

#images-view .labelText {
	word-break: keep-all; /* 不换行 */
	white-space: nowrap; /* 不换行 */
	overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow: ellipsis;
	/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	width: 90%;
}

#images-view .thumb-wrap {
	float: left;
	margin: 5px;
	padding: 3px;
	border-color: #D3D3D3;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

#images-view .thumb {
	padding: 4px;
	padding-bottom: 0;
	width: 140px;
}

#images-view .thumb ul {
	padding-left: 0px;
	*margin-left: 0px; /**hack IE7 padding-left澶辨晥鐨勯棶棰�*/
	_margin-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
}

#images-view .thumb img {
	padding: 4px;
	height: 32px;
	width: 32px;
	*height: 25px;
	*width: 25px;
	_height: 25px;
	_width: 25px;
}

#images-view .thumb .left {
	float: left;
	padding: 4px;
}

#images-view .x-item-over {
	border: 1px solid #1264bd;
	padding: 3px;
}

#images-view ul li {
	float: left;
	overflow: hidden;
}

.x-quirks #images-view .thumb {
	padding-bottom: 3px;
}

#images-view .thumb-wrap span {
	clear: both;
	display: block;
	overflow: hidden;
	text-align: center;
	width: 140px; /**for ie to ensure that the text is centered**/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
}

/**瓒呭ぇ鍥炬爣*/
#images-view.maxicon .thumb-wrap {
	border-width: 4px;
}

#images-view.maxicon .thumb {
	width: 265px;
	height: 80px;
}

#images-view.maxicon .thumb div {
	padding: 4px;
	height: 64px;
	width: 64px;
	*height: 50px;
	*width: 50px;
	_height: 50px;
	_width: 50px;
}

#images-view.maxicon .thumb-wrap span {
	font-size: 20px;
	width: 265px; /**for ie to ensure that the text is centered**/
}

/**杩滅▼ATM浣撴閮ㄥ垎鐨刢ss瀹氫箟**/
.checkATM-btn-custom {
	background-image: url('../images/monitor/world_go.png');
	background-repeat: repeat-x;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

/**杩滅▼娴忚閮ㄥ垎鐨刢ss瀹氫箟**/
.refresh-btn-custom {
	background-image: url('../images/yihua-exploer/refresh.gif');
	background-repeat: repeat-x;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.up-btn-custom {
	background-image: url('../images/yihua-exploer/up.gif');
	background-repeat: repeat-x;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.upfile-btn-custom {
	background-image: url('../images/yihua-exploer/upfile.gif');
	background-repeat: repeat-x;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.disk-name-blackground {
	background-image: url('../images/yihua-exploer/disk.gif');
	background-repeat: repeat-x;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.floder-name-blackground {
	background-image: url('../images/yihua-exploer/icon_folder.gif');
	/*  overflow: hidden;  */
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.file-name-blackground {
	background-image: url('../images/yihua-exploer/icon_unknown.gif');
	/* overflow: hidden; */
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
/**鐩戞帶閮ㄥ垎鐨刢ss瀹氫箟**/
.monitor-btn-start {
	background-image: url('../images/monitor/control_fastforward_blue.png');
	background-repeat: repeat-x;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.monitor-btn-stop {
	background-image: url('../images/monitor/control_pause_blue.png');
	background-repeat: repeat-x;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.nextBtn {
	background: url(../images/monitor/arrow_right.gif) left center no-repeat
		!important;
}

.previousBtn {
	background: url(../images/monitor/arrow_left.gif) left center no-repeat
		!important;
}

.filterBtn {
	background: url(../images/monitor/filter.png) left center no-repeat
		!important;
}

.listPattern {
	background: url(../images/application_view_columns.png) left center
		no-repeat !important;
}

.matrixPattern {
	background: url(../images/application_view_tile.png) left center
		no-repeat !important;
}

.monitorStart {
	background: url(../images/control_play_blue.png) left center no-repeat
		!important;
}

.monitorStop {
	background: url(../images/control_pause_blue.png) left center no-repeat
		!important;
}

.monitorRefresh {
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.text_ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
}

/* chrome銆�祻瑙堝櫒銆�缃�white-space: nowrap;鏍峰紡鏃讹紝浼氭拺寮�埗div锛屾墍浠ョ粰闄愬畾鏈�ぇ瀹藉害  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.text_ellipsis {
		max-width: 230px;
	}
}

.x-grid-row.user-online .x-grid-cell {
	color: #FF0000;
}
.x-grid-row.blue .x-grid-cell {
	color: #62a7df;
}

.report-overflow {
	overflow-x: auto !important;
	overflow-y: hidden !important;
}

.report-overflow>div {
	overflow-x: auto;
	overflow-y: hidden;
}

.historyBtn {
	background: url(../images/application_cascade.png) left center no-repeat
		!important;
}

.link {
	text-decoration: underline;
}

pre.link {
	margin-top: 0;
	text-decoration: underline;
}

.remoteDeleteBtn {
	background: url(../images/yihua-exploer/delete.gif) left center
		no-repeat !important;
}

.remoteMkdirBtn {
	background: url(../images/yihua-exploer/icon_folder.gif) left center
		no-repeat !important;
}

.remoteFileBtn {
	background: url(../images/yihua-exploer/icon_txt.gif) left center
		no-repeat !important;
}

.remoteExecBtn {
	background: url(../images/yihua-exploer/icon_exe.gif) left center
		no-repeat !important;
}

/**广告管理部分的样式**/
.advert-image-view {
	font: 12px Arial, Helvetica, sans-serif;
	background: white;
}

.advert-image-view .advert-item-over {
	border: 1px solid #1264bd;
	background: #efefef;
	padding: 4px;
}

.advert-image-view .thumb {
	padding: 3px;
}

.advert-image-view .thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 4px;
	border: 1px solid white;
}

.advert-image-view .remove_adevert_res {
	position: absolute;
	display: none;
	left: 20;
	top: 20;
}

.advert-image-view .thumb img {
	width: 148px;
	height: 108px;
}

.advert-image-view .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
	width: 148px;
}

#images-view .thumb div {
	padding: 4px;
	height: 32px;
	width: 32px;
	*height: 25px;
	*width: 25px;
	_height: 25px;
	_width: 25px;
	float: left;
}

/*运行状态-未知*/
.monitor-div-run-Unknown {
	background: url(../images/monitor/monitor.png) left -96px no-repeat
		!important;
}
/*运行状态-客户交易*/
.monitor-div-run-Customer {
	background: url(../images/monitor/monitor.png) -32px -96px no-repeat
		!important;
}
/*运行状态-关机*/
.monitor-div-run-Halt {
	background: url(../images/monitor/monitor.png) -64px -96px no-repeat
		!important;
}
/*运行状态-正常*/
.monitor-div-run-Healthy {
	background: url(../images/monitor/monitor.png) -96px -96px no-repeat
		!important;
}
/*运行状态-初始化*/
.monitor-div-run-Initial {
	background: url(../images/monitor/monitor.png) -128px -96px no-repeat
		!important;
}
/*运行状态-维护*/
.monitor-div-run-Maintain {
	background: url(../images/monitor/monitor.png) -160px -96px no-repeat
		!important;
}
/*运行状态-重启*/
.monitor-div-run-ReBoot {
	background: url(../images/monitor/monitor.png) -192px -96px no-repeat
		!important;
}
/*运行状态-P端故障*/
.monitor-div-run-StopAtmp {
	background: url(../images/monitor/monitor.png) -224px -96px no-repeat
		!important;
}
/*运行状态-人工报停*/
.monitor-div-run-StopManmade {
	background: url(../images/monitor/monitor.png) -256px -96px no-repeat
		!important;
}
/*运行状态-故障*/
.monitor-div-run-StopMod {
	background: url(../images/monitor/monitor.png) -288px -96px no-repeat
		!important;
}
/*运行状态-暂停服务-未加钞*/
.monitor-div-run-StopUnCashIn {
	background: url(../images/monitor/monitor.png) -320px -96px no-repeat
		!important;
}
/*运行状态-未知原因暂停服务*/
.monitor-div-run-StopUnKnown {
	background: url(../images/monitor/monitor.png) -352px -96px no-repeat
		!important;
}
/*运行状态-厂商模式*/
.monitor-div-run-Vdm {
	background: url(../images/monitor/monitor.png) -384px -96px no-repeat
		!important;
}
/*运行状态-半功能服务*/
.monitor-div-run-SubHealth {
	background: url(../images/monitor/monitor.png) -416px -96px no-repeat
		!important;
}

/*模块状态-无模块*/
.monitor-div-mod-NoDevice {
	background: url(../images/monitor/monitor.png) left -32px no-repeat
		!important;
}
/*模块状态-未知*/
.monitor-div-mod-Unknown {
	background: url(../images/monitor/monitor.png) -32px -32px no-repeat
		!important;
}
/*模块状态-故障*/
.monitor-div-mod-Warning {
	background: url(../images/monitor/monitor.png) -64px -32px no-repeat
		!important;
}
/*模块状态-正常*/
.monitor-div-mod-Fatal {
	background: url(../images/monitor/monitor.png) -96px -32px no-repeat
		!important;
}
/*模块状态-正常*/
.monitor-div-mod-Healthy {
	background: url(../images/monitor/monitor.png) -128px -32px no-repeat
		!important;
}

/*钞箱状态-钞空*/
.monitor-div-box-Empty {
	background: url(../images/monitor/monitor.png) left 0px no-repeat
		!important;
}
/*钞箱状态-故障*/
.monitor-div-box-Fatal {
	background: url(../images/monitor/monitor.png) -32px 0px no-repeat
		!important;
}
/*钞箱状态-钞满*/
.monitor-div-box-Full {
	background: url(../images/monitor/monitor.png) -64px 0px no-repeat
		!important;
}
/*钞箱状态-正常*/
.monitor-div-box-Healthy {
	background: url(../images/monitor/monitor.png) -96px 0px no-repeat
		!important;
}
/*钞箱状态-正常*/
.monitor-div-box-High {
	background: url(../images/monitor/monitor.png) -128px 0px no-repeat
		!important;
}
/*钞箱状态-钞少*/
.monitor-div-box-Low {
	background: url(../images/monitor/monitor.png) -160px 0px no-repeat
		!important;
}
/*钞箱状态-未知*/
.monitor-div-box-Unknown {
	background: url(../images/monitor/monitor.png) -192px 0px no-repeat
		!important;
}
/*钞箱状态-无设备*/
.monitor-div-box-NoDevice {
	background: url(../images/monitor/monitor.png) -224px 0px no-repeat
		!important;
}

/*网络状态-未知*/
.monitor-div-net-Unknown {
	background: url(../images/monitor/monitor.png) left -64px no-repeat
		!important;
}
/*网络状态-不稳定*/
.monitor-div-net-Warning {
	background: url(../images/monitor/monitor.png) -32px -64px no-repeat
		!important;
}
/*网络状态-故障*/
.monitor-div-net-Fatal {
	background: url(../images/monitor/monitor.png) -64px -64px no-repeat
		!important;
}
/*网络状态-正常*/
.monitor-div-net-Healthy {
	background: url(../images/monitor/monitor.png) -96px -64px no-repeat
		!important;
}

/*******************************大图标方式**********************************************************/
/*运行状态-未知*/
#images-view.maxicon .monitor-div-run-Unknown {
	background: url(../images/monitor/max_monitor.png) left -192px no-repeat
		!important;
}
/*运行状态-客户交易*/
#images-view.maxicon .monitor-div-run-Customer {
	background: url(../images/monitor/max_monitor.png) -64px -192px
		no-repeat !important;
}
/*运行状态-关机*/
#images-view.maxicon .monitor-div-run-Halt {
	background: url(../images/monitor/max_monitor.png) -128px -192px
		no-repeat !important;
}
/*运行状态-正常*/
#images-view.maxicon .monitor-div-run-Healthy {
	background: url(../images/monitor/max_monitor.png) -192px -192px
		no-repeat !important;
}
/*运行状态-初始化*/
#images-view.maxicon .monitor-div-run-Initial {
	background: url(../images/monitor/max_monitor.png) -256px -192px
		no-repeat !important;
}
/*运行状态-维护*/
#images-view.maxicon .monitor-div-run-Maintain {
	background: url(../images/monitor/max_monitor.png) -320px -192px
		no-repeat !important;
}
/*运行状态-重启*/
#images-view.maxicon .monitor-div-run-ReBoot {
	background: url(../images/monitor/max_monitor.png) -384px -192px
		no-repeat !important;
}
/*运行状态-P端故障*/
#images-view.maxicon .monitor-div-run-StopAtmp {
	background: url(../images/monitor/max_monitor.png) -448px -192px
		no-repeat !important;
}
/*运行状态-人工报停*/
#images-view.maxicon .monitor-div-run-StopManmade {
	background: url(../images/monitor/max_monitor.png) -512px -192px
		no-repeat !important;
}
/*运行状态-故障*/
#images-view.maxicon .monitor-div-run-StopMod {
	background: url(../images/monitor/max_monitor.png) -576px -192px
		no-repeat !important;
}
/*运行状态-暂停服务-未加钞*/
#images-view.maxicon .monitor-div-run-StopUnCashIn {
	background: url(../images/monitor/max_monitor.png) -640px -192px
		no-repeat !important;
}
/*运行状态-未知原因暂停服务*/
#images-view.maxicon .monitor-div-run-StopUnKnown {
	background: url(../images/monitor/max_monitor.png) -704px -192px
		no-repeat !important;
}
/*运行状态-厂商模式*/
#images-view.maxicon .monitor-div-run-Vdm {
	background: url(../images/monitor/max_monitor.png) -768px -192px
		no-repeat !important;
}
/*运行状态-半功能服务*/
#images-view.maxicon .monitor-div-run-SubHealth {
	background: url(../images/monitor/max_monitor.png) -832px -192px
		no-repeat !important;
}

/*模块状态-无模块*/
#images-view.maxicon .monitor-div-mod-NoDevice {
	background: url(../images/monitor/max_monitor.png) left -64px no-repeat
		!important;
}
/*模块状态-未知*/
#images-view.maxicon .monitor-div-mod-Unknown {
	background: url(../images/monitor/max_monitor.png) -64px -64px no-repeat
		!important;
}
/*模块状态-故障*/
#images-view.maxicon .monitor-div-mod-Warning {
	background: url(../images/monitor/max_monitor.png) -128px -64px
		no-repeat !important;
}
/*模块状态-正常*/
#images-view.maxicon .monitor-div-mod-Fatal {
	background: url(../images/monitor/max_monitor.png) -192px -64px
		no-repeat !important;
}
/*模块状态-正常*/
#images-view.maxicon .monitor-div-mod-Healthy {
	background: url(../images/monitor/max_monitor.png) -256px -64px
		no-repeat !important;
}

/*钞箱状态-钞空*/
#images-view.maxicon .monitor-div-box-Empty {
	background: url(../images/monitor/max_monitor.png) left 0px no-repeat
		!important;
}
/*钞箱状态-故障*/
#images-view.maxicon .monitor-div-box-Fatal {
	background: url(../images/monitor/max_monitor.png) -64px 0px no-repeat
		!important;
}
/*钞箱状态-钞满*/
#images-view.maxicon .monitor-div-box-Full {
	background: url(../images/monitor/max_monitor.png) -128px 0px no-repeat
		!important;
}
/*钞箱状态-正常*/
#images-view.maxicon .monitor-div-box-Healthy {
	background: url(../images/monitor/max_monitor.png) -192px 0px no-repeat
		!important;
}
/*钞箱状态-正常*/
#images-view.maxicon .monitor-div-box-High {
	background: url(../images/monitor/max_monitor.png) -256px 0px no-repeat
		!important;
}
/*钞箱状态-钞少*/
#images-view.maxicon .monitor-div-box-Low {
	background: url(../images/monitor/max_monitor.png) -320px 0px no-repeat
		!important;
}
/*钞箱状态-未知*/
#images-view.maxicon .monitor-div-box-Unknown {
	background: url(../images/monitor/max_monitor.png) -384px 0px no-repeat
		!important;
}
/*钞箱状态-无设备*/
#images-view.maxicon .monitor-div-box-NoDevice {
	background: url(../images/monitor/max_monitor.png) -448px 0px no-repeat
		!important;
}

/*网络状态-未知*/
#images-view.maxicon .monitor-div-net-Unknown {
	background: url(../images/monitor/max_monitor.png) left -128px no-repeat
		!important;
}
/*网络状态-不稳定*/
#images-view.maxicon .monitor-div-net-Warning {
	background: url(../images/monitor/max_monitor.png) -64px -128px
		no-repeat !important;
}
/*网络状态-故障*/
#images-view.maxicon .monitor-div-net-Fatal {
	background: url(../images/monitor/max_monitor.png) -128px -128px
		no-repeat !important;
}
/*网络状态-正常*/
#images-view.maxicon .monitor-div-net-Healthy {
	background: url(../images/monitor/max_monitor.png) -192px -128px
		no-repeat !important;
}
/*******************************大图标方式**********************************************************/
.monitor_minicon {
	float: left;
	width: 17px;
	height: 17px;
}

/*******************************小图标方式**********************************************************/
/*运行状态-未知*/
.monitor_minicon.monitor-div-run-Unknown {
	background: url(../images/monitor/min_monitor.png) left -51px no-repeat
		!important;
}
/*运行状态-客户交易*/
.monitor_minicon.monitor-div-run-Customer {
	background: url(../images/monitor/min_monitor.png) -17px -51px no-repeat
		!important;
}
/*运行状态-关机*/
.monitor_minicon.monitor-div-run-Halt {
	background: url(../images/monitor/min_monitor.png) -34px -51px no-repeat
		!important;
}
/*运行状态-正常*/
.monitor_minicon.monitor-div-run-Healthy {
	background: url(../images/monitor/min_monitor.png) -51px -51px no-repeat
		!important;
}
/*运行状态-初始化*/
.monitor_minicon.monitor-div-run-Initial {
	background: url(../images/monitor/min_monitor.png) -68px -51px no-repeat
		!important;
}
/*运行状态-维护*/
.monitor_minicon.monitor-div-run-Maintain {
	background: url(../images/monitor/min_monitor.png) -85px -51px no-repeat
		!important;
}
/*运行状态-重启*/
.monitor_minicon.monitor-div-run-ReBoot {
	background: url(../images/monitor/min_monitor.png) -102px -51px
		no-repeat !important;
}
/*运行状态-P端故障*/
.monitor_minicon.monitor-div-run-StopAtmp {
	background: url(../images/monitor/min_monitor.png) -119px -51px
		no-repeat !important;
}
/*运行状态-人工报停*/
.monitor_minicon.monitor-div-run-StopManmade {
	background: url(../images/monitor/min_monitor.png) -136px -51px
		no-repeat !important;
}
/*运行状态-故障*/
.monitor_minicon.monitor-div-run-StopMod {
	background: url(../images/monitor/min_monitor.png) -153px -51px
		no-repeat !important;
}
/*运行状态-暂停服务-未加钞*/
.monitor_minicon.monitor-div-run-StopUnCashIn {
	background: url(../images/monitor/min_monitor.png) -170px -51px
		no-repeat !important;
}
/*运行状态-未知原因暂停服务*/
.monitor_minicon.monitor-div-run-StopUnKnown {
	background: url(../images/monitor/min_monitor.png) -187px -51px
		no-repeat !important;
}
/*运行状态-厂商模式*/
.monitor_minicon.monitor-div-run-Vdm {
	background: url(../images/monitor/min_monitor.png) -204px -51px
		no-repeat !important;
}
/*运行状态-半功能服务*/
.monitor_minicon.monitor-div-run-SubHealth {
	background: url(../images/monitor/min_monitor.png) -221px -51px
		no-repeat !important;
}

/*模块状态-无模块*/
.monitor_minicon.monitor-div-mod-NoDevice {
	background: url(../images/monitor/min_monitor.png) left -17px no-repeat
		!important;
}
/*模块状态-未知*/
.monitor_minicon.monitor-div-mod-Unknown {
	background: url(../images/monitor/min_monitor.png) -17px -17px no-repeat
		!important;
}
/*模块状态-故障*/
.monitor_minicon.monitor-div-mod-Warning {
	background: url(../images/monitor/min_monitor.png) -34px -17px no-repeat
		!important;
}
/*模块状态-正常*/
.monitor_minicon.monitor-div-mod-Fatal {
	background: url(../images/monitor/min_monitor.png) -51px -17px no-repeat
		!important;
}
/*模块状态-正常*/
.monitor_minicon.monitor-div-mod-Healthy {
	background: url(../images/monitor/min_monitor.png) -68px -17px no-repeat
		!important;
}

/*钞箱状态-钞空*/
.monitor_minicon.monitor-div-box-Empty {
	background: url(../images/monitor/min_monitor.png) left 0px no-repeat
		!important;
}
/*钞箱状态-故障*/
.monitor_minicon.monitor-div-box-Fatal {
	background: url(../images/monitor/min_monitor.png) -17px 0px no-repeat
		!important;
}
/*钞箱状态-钞满*/
.monitor_minicon.monitor-div-box-Full {
	background: url(../images/monitor/min_monitor.png) -34px 0px no-repeat
		!important;
}
/*钞箱状态-正常*/
.monitor_minicon.monitor-div-box-Healthy {
	background: url(../images/monitor/min_monitor.png) -51px 0px no-repeat
		!important;
}
/*钞箱状态-正常*/
.monitor_minicon.monitor-div-box-High {
	background: url(../images/monitor/min_monitor.png) -68px 0px no-repeat
		!important;
}
/*钞箱状态-钞少*/
.monitor_minicon.monitor-div-box-Low {
	background: url(../images/monitor/min_monitor.png) -85px 0px no-repeat
		!important;
}
/*钞箱状态-未知*/
.monitor_minicon.monitor-div-box-Unknown {
	background: url(../images/monitor/min_monitor.png) -102px 0px no-repeat
		!important;
}
/*钞箱状态-无设备*/
.monitor_minicon.monitor-div-box-NoDevice {
	background: url(../images/monitor/min_monitor.png) -119px 0px no-repeat
		!important;
}

/*网络状态-未知*/
.monitor_minicon.monitor-div-net-Unknown {
	background: url(../images/monitor/min_monitor.png) left -34px no-repeat
		!important;
}
/*网络状态-不稳定*/
.monitor_minicon.monitor-div-net-Warning {
	background: url(../images/monitor/min_monitor.png) -17px -34px no-repeat
		!important;
}
/*网络状态-故障*/
.monitor_minicon.monitor-div-net-Fatal {
	background: url(../images/monitor/min_monitor.png) -34px -34px no-repeat
		!important;
}
/*网络状态-正常*/
.monitor_minicon.monitor-div-net-Healthy {
	background: url(../images/monitor/min_monitor.png) -51px -34px no-repeat
		!important;
}
/*******************************小图标方式**********************************************************/

/**状态监控展示方式获得焦点样式!important***/
.monitor_focus_color {
	background-color: #3386C2;
}

.x-color-picker-item {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	height: 15px;
	width: 15px;
	padding: 0px;
}

.x-color-picker-item-inner {
	border-color: #E1E1E1;
	border-width: 1px;
	line-height: 13px;
}

.notFinish {
	color: grey;
}

.plan {
	color: blue;
}

.running {
	color: red;
}

/*响应式布局的样式*/
.x-responsivecolumn {
	padding: 20px 0 0 20px
}

.x-responsivecolumn>* {
	margin: 0 20px 20px 0;
	float: left
}

.big-100 {
	width: calc(100% - 20px);
	background-position: 100% 20px !important
}

.big-60 {
	width: calc(60% - 20px);
	background-position: 60% 20px !important
}

.big-50 {
	width: calc(50% - 20px);
	background-position: 50% 20px !important
}

.big-40 {
	width: calc(40% - 20px);
	background-position: 40% 20px !important
}

.big-33 {
	width: calc(33.33% - 20px);
	background-position: 33.33% 20px !important
}

.big-20 {
	width: calc(20% - 20px);
	background-position: 20% 20px !important
}

.x-responsivecolumn-small>.small-100 {
	width: calc(100% - 20px);
	background-position: 100% 20px !important
}

.x-responsivecolumn-small>.small-50 {
	width: calc(50% - 20px);
	background-position: 50% 20px !important
}

/*一级菜单的图表定义*/
.menu-system {
	background: url(../images/menu1.png) 0px 0px no-repeat !important;
}

.menu-device {
	background: url(../images/menu1.png) 0px -24px no-repeat !important;
}

.menu-monitor {
	background: url(../images/menu1.png) 0px -48px no-repeat !important;
}

.menu-application {
	background: url(../images/menu1.png) 0px -72px no-repeat !important;
}

.menu-faults {
	background: url(../images/menu1.png) 0px -96px no-repeat !important;
}

.menu-reports {
	background: url(../images/menu1.png) 0px -120px no-repeat !important;
}

.menu-param {
	background: url(../images/menu1.png) 0px -144px no-repeat !important;
}

/*二级菜单的图表定义*/
.menu-system-bankOrg {
	background: url(../images/image.png) 0px 0px no-repeat !important;
}

.menu-system-bankPer {
	background: url(../images/image.png) -16px 0px no-repeat !important;
}

.menu-system-serviceOrg {
	background: url(../images/image.png) -32px 0px no-repeat !important;
}

.menu-system-servicePer {
	background: url(../images/image.png) -48px 0px no-repeat !important;
}

.menu-system-user {
	background: url(../images/image.png) -64px 0px no-repeat !important;
}

.menu-system-role {
	background: url(../images/image.png) -80px 0px no-repeat !important;
}

.menu-system-configuration {
	background: url(../images/image.png) -96px 0px no-repeat !important;
}

.menu-system-quartz {
	background: url(../images/image.png) -112px 0px no-repeat !important;
}

.menu-system-userLog {
	background: url(../images/image.png) -128px 0px no-repeat !important;
}

.menu-device-device {
	background: url(../images/image.png) 0px -24px no-repeat !important;
}

.menu-device-atmBrand {
	background: url(../images/image.png) -16px -24px no-repeat !important;
}

.menu-device-atmType {
	background: url(../images/image.png) -32px -24px no-repeat !important;
}

.menu-device-atmGroup {
	background: url(../images/image.png) -48px -24px no-repeat !important;
}

.menu-device-quitting {
	background: url(../images/image.png) -64px -24px no-repeat !important;
}

.menu-device-retainCard {
	background: url(../images/image.png) -80px -24px no-repeat !important;
}

.menu-device-atmLog {
	background: url(../images/image.png) -96px -24px no-repeat !important;
}

.menu-device-servicePlan {
	background: url(../images/image.png) -112px -24px no-repeat !important;
}

.menu-device-device {
	background: url(../images/image.png) 0px -24px no-repeat !important;
}

.menu-device-atmBrand {
	background: url(../images/image.png) -16px -24px no-repeat !important;
}

.menu-device-atmType {
	background: url(../images/image.png) -32px -24px no-repeat !important;
}

.menu-device-atmGroup {
	background: url(../images/image.png) -48px -24px no-repeat !important;
}

.menu-device-quitting {
	background: url(../images/image.png) -64px -24px no-repeat !important;
}

.menu-device-retainCard {
	background: url(../images/image.png) -80px -24px no-repeat !important;
}

.menu-device-atmLog {
	background: url(../images/image.png) -96px -24px no-repeat !important;
}

.menu-device-servicePlan {
	background: url(../images/image.png) -112px -24px no-repeat !important;
}

.menu-monitor-device {
	background: url(../images/image.png) 0px -48px no-repeat !important;
}

.menu-monitor-summaryInfo {
	background: url(../images/image.png) -16px -48px no-repeat !important;
}

.menu-monitor-historyTrans {
	background: url(../images/image.png) -32px -48px no-repeat !important;
}

.menu-monitor-monitorTrans {
	background: url(../images/image.png) -48px -48px no-repeat !important;
}

.menu-monitor-cashInit {
	background: url(../images/image.png) -64px -48px no-repeat !important;
}

.menu-monitor-settlement {
	background: url(../images/image.png) -80px -48px no-repeat !important;
}

.menu-monitor-remoteCommand {
	background: url(../images/image.png) -96px -48px no-repeat !important;
}

.menu-monitor-newMonitorTrans {
	background: url(../images/image.png) -112px -48px no-repeat !important;
}

.menu-monitor-transCodeColor {
	background: url(../images/image.png) -128px -48px no-repeat !important;
}

.menu-application-version {
	background: url(../images/image.png) 0px -72px no-repeat !important;
}

.menu-application-advert {
	background: url(../images/image.png) -16px -72px no-repeat !important;
}

.menu-application-versionMonitor {
	background: url(../images/image.png) -32px -72px no-repeat !important;
}

.menu-application-deviceVersion {
	background: url(../images/image.png) -48px -72px no-repeat !important;
}

.menu-application-versionDistribute {
	background: url(../images/image.png) -64px -72px no-repeat !important;
}

.menu-application-bsAdvertGroup {
	background: url(../images/image.png) -80px -72px no-repeat !important;
}

.menu-application-bsAdvert {
	background: url(../images/image.png) -96px -72px no-repeat !important;
}

.menu-application-versionType {
	background: url(../images/image.png) -112px -72px no-repeat !important;
}

.menu-faults-notifyMould {
	background: url(../images/image.png) 0px -96px no-repeat !important;
}

.menu-faults-casenotify {
	background: url(../images/image.png) -16px -96px no-repeat !important;
}

.menu-faults-faultConfig {
	background: url(../images/image.png) -32px -96px no-repeat !important;
}

.menu-faults-casefault {
	background: url(../images/image.png) -48px -96px no-repeat !important;
}

.menu-faults-vendorCode {
	background: url(../images/image.png) -64px -96px no-repeat !important;
}

.menu-reports-vendor {
	background: url(../images/image.png) 0px -120px no-repeat !important;
}

.menu-reports-retainCard {
	background: url(../images/image.png) -16px -120px no-repeat !important;
}

.menu-reports-faultRate {
	background: url(../images/image.png) -32px -120px no-repeat !important;
}

.menu-reports-transaction {
	background: url(../images/image.png) -48px -120px no-repeat !important;
}

.menu-reports-transactionResult {
	background: url(../images/image.png) -64px -120px no-repeat !important;
}

.menu-reports-dayTrans {
	background: url(../images/image.png) -80px -120px no-repeat !important;
}

.menu-reports-dayHourTrans {
	background: url(../images/image.png) -96px -120px no-repeat !important;
}

.menu-reports-caseTrend {
	background: url(../images/image.png) -112px -120px no-repeat !important;
}

.menu-reports-caseStatistics {
	background: url(../images/image.png) -128px -120px no-repeat !important;
}

.menu-reports-deviceOpenRate {
	background: url(../images/image.png) -144px -120px no-repeat !important;
}

.menu-reports-typeOpenRate {
	background: url(../images/image.png) -160px -120px no-repeat !important;
}

.menu-reports-orgOpenRate {
	background: url(../images/image.png) -176px -120px no-repeat !important;
}

.menu-param-appSystem {
	background: url(../images/image.png) 0px -144px no-repeat !important;
}

.menu-param-paramElement {
	background: url(../images/image.png) -16px -144px no-repeat !important;
}

.menu-param-paramClassify {
	background: url(../images/image.png) -32px -144px no-repeat !important;
}

.menu-param-devParam {
	background: url(../images/image.png) -48px -144px no-repeat !important;
}

.menu-param-paramTemplate {
	background: url(../images/image.png) -64px -144px no-repeat !important;
}

.menu-param-paramMonitor {
	background: url(../images/image.png) -80px -144px no-repeat !important;
}

/*去除IE浏览器的'X'*/
input::-ms-clear {
	display: none;
}

/*时间轴样式*/
.cash-time {
	width: 100px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #000000;
	margin: 30px 0 0 -40px;
	border-radius: 78px;
	background-color: #80ff00;
	text-align:center;
}

.cashType {
	background-color: #80ff00;
}

.settleType {
	background-color: #ec1354;
}

.x-ie8 .news {
	background-image: url("../images/timeline/news-icon-small.png")
		!important;
}

.settle-time {
	width: 100px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #000000;
	margin: 30px 0 0 -40px;
	border-radius: 78px;
	background-color: #ec1354;
	text-align:center;
}

.x-ie8 .forum {
	background-image: url("../images/timeline/forum-icon-small.png")
		!important;
}

.news-title {
	font-size: dynamic(30px);
	line-height: dynamic(30px);
	color: dynamic(dynamic(#3e4752));
	vertical-align: middle;
	margin: 20px 10px 20px 40px;
}

.news-small {
	font-size: dynamic(20px);
	color: dynamic(#878ea2);
}

.news-small img {
	vertical-align: top;
	margin: 0 5px 0 10px;
	height: 12px;
}

.text-wrapper {
	position: relative;
	overflow: visible;
	word-wrap: break-word;
	white-space: pre-wrap;
	padding: 12px;
	border-radius: 3px;
	margin-bottom: 2px;
	background-repeat: no-repeat;
	background-size: contain;
	/* CSS3 */
	/*white-space: -moz-pre-wrap; /* Firefox */
	/*white-space: -pre-wrap;     /* Opera <7 */
	/*white-space: -o-pre-wrap;   /* Opera 7 */
	/*word-wrap: break-word;      /* IE */
}

.text-wrapper .news-icon {
	background :#c0c0c0;
	width: 10px;
	height: 105px;
	position: absolute;
	top: 0;
	left: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 1px;
}

.text-wrapper .news-data {
	background-color: dynamic(#000000);
	margin: 0 0 3px 105px;
	padding: 15px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.text-wrapper .news-content {
	margin-left: 10px;
	align：center;
}

.text-wrapper .cash-content {
	margin: 20px 0 16px 120px;
	float: left;
	width: 300px;
	height: 100px;
	border: 1px solid #3d4043;
	border-radius: 20px;
}

.text-wrapper .detailsOneShow {
	height:170px;
	display:block;
	margin-top:20px;
}

.text-wrapper .detailsOneHide {
	height:170px;
	display:none;
	margin-top:20px;
}

.text-wrapper .detailsTwoShow {
	display:block;
	margin-top:15px;
	height:250px;
}

.text-wrapper .detailsTwoHide {
	display:none;
	margin-top:15px;
	height:250px;
}

.text-wrapper .settle-cash {
	margin: 10px 0 10px 595px;
	width: 400px;
	height: 140px;
	border: 1px solid #3d4043;
	border-radius: 20px;
}

.text-wrapper .settle-cash .settle-table {
	font-size: dynamic(30px);
	color: dynamic(#878ea2);
	width: 650px;
	height: 60px;
}
.text-wrapper .news-toggle-cash {
    text-align: left;
    margin-top: 20px;
    width: 80px; 
    float:right;
    cursor: pointer;
    background-image: url("../images/timeline/expand-news.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position:right;
}

.text-wrapper .news-toggle-cash-coll {
    text-align: left;
    margin-top: 20px;
    width: 92px; 
    float:right;
    background-image: url("../images/timeline/collapse-news.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position:right;
}

.text-wrapper .news-toggle-cash span {
	color: dynamic(#2e6eaf);
	font-size: dynamic(14px);
	font-weight: dynamic(500);
	cursor: pointer;
	display: inline-block;
}

.text-wrapper .news-toggle {
    text-align: left;
    margin-top: 8px;
    width: 80px; 
    float:right;
    cursor: pointer;
    background-image: url("../images/timeline/expand-news.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position:right;
}

.text-wrapper .news-toggle-coll {
    text-align: left;
    margin-top: 8px;
    width: 92px; 
    float:right;
    background-image: url("../images/timeline/collapse-news.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position:right;
}

.text-wrapper .news-toggle span {
	color: dynamic(#2e6eaf);
	font-size: dynamic(14px);
	font-weight: dynamic(500);
	cursor: pointer;
	display: inline-block;
}