
/* 布局 */
#wrap{
margin:0 auto;
padding-top:0px;
width:1200px;
}
#main{
margin:0;
padding:0;
padding-top:0px;
height:600px;
background:url(../images/index/main_bg.png) center top no-repeat;
}
#foot{
margin:0;
padding:0;
text-align:center;
font-size:15px;
/* background-color: #167CCE; 
color: #f6f6f6;*/
line-height:1.5em;
clear:both;
}

.form-message.error {
    background: url("../images/serious_warning_16.gif") no-repeat scroll 0.75em 0.75em #FFE7E7;
    border: 1px solid #DF9898;
    color: #CC0000;
    font-weight: bold;
    font-size:12px;
    margin: 8px 52px 10px;
    padding: 0.75em 0.75em 0.75em 2.5em;
}

.form-message.success {
    background: url("../images/success.png") no-repeat scroll 0.75em 0.75em #87fb70;
    border: 1px solid #DF9898;
    color: #CC0000;
    font-weight: bold;
    margin: 8px 52px 10px;
    padding: 0.75em 0.75em 0.75em 2.5em;
}


#loading .litelogo {
	background: url(../images/loading.gif) no-repeat;
	position: absolute;
	display: block;
	top: 25px;
	left: 22px;
	width: 120px;
	height: 120px;
}

.assessSelect{
	background:url(../images/atm_status/Open.gif) left center no-repeat !important;
}
.assessDeselect{
	background:url(../images/atm_status/Op.gif) left center no-repeat !important;
}
