*{
	margin: 0px;
	padding: 0px;
	font-family: Microsoft YaHei;
}
.top{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 265px;
	height: 75px;
	background: url("../images/login/logo1.png");
}
.left-content{
	width:1336px;
	height: 248px;
	margin: 0px auto;
	background: url("../images/login/left2.png") no-repeat;
}
.left{
	width: 100%;
	background: #086fb8;
}
.right{
	width:100%;

}
.head{
	display:none;
	}
.tips{
	text-align: center;
	color:#e70303;
	font-size: 15px;
	letter-spacing: 1px;
/* 	display: none; */
}
.loginForm{
	width:315px;
	margin: 0 auto;
}
.username,.password,.login{
	width:315px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px auto;
}
.imgusername,.imgpassword{
	height:41px;
	width:42px;
	float: left;
	border-right:1px solid #ccc;
}
.imgusername{
	background: url("../images/login/username.png") no-repeat;
}
.imgpassword{
	background: url("../images/login/password.png") no-repeat;
}
.input_username{
	color:#999;
}
.input_username,.input_password{
	width:268px;
	height:39px;
	line-height: 38px;
	letter-spacing: 1px;
	font-size: 16px;
	padding-left: 3px;
}
input{
	border: 0px;
}
.checkboxlogin{
	float: right;
	color: #086fb8;
	font-size: 16px;
	letter-spacing: 1px;
}
.checkboxlogin1{
	margin-right: 5px;
}
.login{
	background: #086fb8;
	color:#fff;
	font-size: 20px;
	border: 1px solid #086fb8;
	text-align: center;
	margin-top: 10px;
}
.footer{
	width: 100%;
	position: fixed;
	bottom: 10px;
	text-align: center;
	font-size: 13px;
	color:#555454;
}
.bottom{
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.bottom1,.bottom2,.bottom3,.bottom4,.bottom5,.bottom6{
	width:16.6666%;
	height: 5px;
	float: left;
	
}
.bottom1{
	background: #da225e;
}
.bottom2{
	background: #b53896;
}
.bottom3{
	background: #7054b8;
}
.bottom4{
	background: #5a50ca;
}
.bottom5{
	background: #3c80d3;
}
.bottom6{
	background: #3cbfeb;
}