/**ie9下的button显示问题**/
.x-btn-default-small-tl,
.x-btn-default-small-bl,
.x-btn-default-small-tr,
.x-btn-default-small-br,
.x-btn-default-small-tc,
.x-btn-default-small-bc,
.x-btn-default-small-ml,
.x-btn-default-small-mr,
.x-btn-default-small-mc{
	background-image:none;
	background-color:#35baf6;
}

.x-btn-over .x-btn-default-small-tl,
.x-btn-over .x-btn-default-small-bl,
.x-btn-over .x-btn-default-small-tr,
.x-btn-over .x-btn-default-small-br,
.x-btn-over .x-btn-default-small-tc,
.x-btn-over .x-btn-default-small-bc,
.x-btn-over .x-btn-default-small-ml,
.x-btn-over .x-btn-default-small-mr,
.x-btn-over .x-btn-default-small-mc{
	background-image:none;
	background-color:#3892d3;
}

/**ie9下toolbar下的button显示问题---start**/
.x-btn-default-toolbar-small-tl,
.x-btn-default-toolbar-small-bl,
.x-btn-default-toolbar-small-tr,
.x-btn-default-toolbar-small-br,
.x-btn-default-toolbar-small-tc,
.x-btn-default-toolbar-small-bc,
.x-btn-default-toolbar-small-ml,
.x-btn-default-toolbar-small-mr,
.x-btn-default-toolbar-small-mc{
	background-image:none;
	background-color:#35baf6;
}

.x-btn-over .x-btn-default-toolbar-small-tl,
.x-btn-over .x-btn-default-toolbar-small-bl,
.x-btn-over .x-btn-default-toolbar-small-tr,
.x-btn-over .x-btn-default-toolbar-small-br,
.x-btn-over .x-btn-default-toolbar-small-tc,
.x-btn-over .x-btn-default-toolbar-small-bc,
.x-btn-over .x-btn-default-toolbar-small-ml,
.x-btn-over .x-btn-default-toolbar-small-mr,
.x-btn-over .x-btn-default-toolbar-small-mc{
	background-image:none;
	background-color:#3892d3;
}

.x-btn-pressed .x-btn-default-toolbar-small-tl,
.x-btn-pressed .x-btn-default-toolbar-small-bl,
.x-btn-pressed .x-btn-default-toolbar-small-tr,
.x-btn-pressed .x-btn-default-toolbar-small-br,
.x-btn-pressed .x-btn-default-toolbar-small-tc,
.x-btn-pressed .x-btn-default-toolbar-small-bc,
.x-btn-pressed .x-btn-default-toolbar-small-ml,
.x-btn-pressed .x-btn-default-toolbar-small-mr,
.x-btn-pressed .x-btn-default-toolbar-small-mc
{
	background-image:none;
	background-color:#3892d3;
}

.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-tl,
.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-bl,
.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-tr,
.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-br,
.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-tc,
.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-bc,
.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-ml,
.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-mr,
.x-btn-focus.x-btn-over .x-btn-default-toolbar-small-mc
{
	background-image:none;
	background-color:#3892d3;
}

.x-btn-focus .x-btn-default-toolbar-small-tl,
.x-btn-focus .x-btn-default-toolbar-small-bl,
.x-btn-focus .x-btn-default-toolbar-small-tr,
.x-btn-focus .x-btn-default-toolbar-small-br,
.x-btn-focus .x-btn-default-toolbar-small-tc,
.x-btn-focus .x-btn-default-toolbar-small-bc,
.x-btn-focus .x-btn-default-toolbar-small-ml,
.x-btn-focus .x-btn-default-toolbar-small-mr,
.x-btn-focus .x-btn-default-toolbar-small-mc
{
	background-image:none;
	background-color:#3892d3;
}
/**ie9下toolbar下的button显示问题---end**/