<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5p [%t] %d{yyyy-MM-dd HH:mm:ss SSS} [%c] %m%n</pattern>
		</encoder>
	</appender>
	<!-- <appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Append>true</Append>
		<File>fish.log</File>
		<encoder>
			<pattern>%-5p [%t] %d{yyyy-MM-dd HH:mm:ss SSS} [%c] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>fish.log.%d.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSizeAsString>100MB</maxFileSizeAsString>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender> -->
	<!-- Application Loggers -->
	<logger name="com.yihuacomputer.fish">
		<level value="info" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<logger name="org.hibernate">
		<level value="info" />
	</logger>
	<root level="INFO">
		<appender-ref ref="console" />
	<!-- 	<appender-ref ref="file" /> -->
	</root>
</configuration>